/* CSS LIBRARY */

/* COMPONENTS */
@import url('components/form_styles.css');
@import url('components/buttons_styles.css');
@import url('components/admin_sidebar.css');

/*PAGES*/
@import url('pages/signup_page.css');
@import url('pages/admin_announcement.css');
@import url('pages/admin_settings.css');

/* FONTS */ 
@font-face {
    font-family: Monteserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Monteserrat-Regular;
}

